@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



:root {
    --color-primary: rgb(82,198,243);
    --bg-light-gray: #E5E5E5;
    --text-gray: #5e5e5e;
    --color-secundary: rgb(17,34,70);    
    --color-white: #fff;
    --text-green: #02B814;    
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

header {
    background-color: var(--color-secundary);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}


nav h1 {
    color: var(--color-primary);
    font-size: 24px;
    text-align: center;
}

nav p {
    color: var(--color-primary);
    font-size: 14px;
    text-align: center;
}


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#aircrafts {
    padding: 20px 15px;
    background-color: var(--bg-light-gray);
}

.aircraft-card {
    display: flex;
    margin: 20px 0;
}

.aircraft-card img {
    width: 200px;
    border-radius: 12px 0 0 12px;
}

.aircraft-card-description {
    background-color: var(--color-white);
    border-radius: 0 12px 12px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aircraft-card-description h3 {
    color: var(--text-gray);
    font-size: 24px;
}

.aircraft-card-description p {
    color: var(--text-gray);
    font-size: 14px;
}

.aircraft-card-description h4 {
    color: var(--text-green);
}

.aircraft-prices img {
    border-radius: 15px;
}

#comments {
    padding: 20px 15px;
}

#comments h2 {
    text-align: center;
    font-size: 32px;
    color: var(--text-gray);
    margin-bottom: 40px;
    padding: 20px 15px;
}

.card-comment {
    padding: 26px 20px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
    border-radius: 12px;
    margin: 20px 0;
}

footer {
    height: 120px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    font-size: 16px;
}

.footer-content address {
    font-size: 16px;
}

.formulario {
    max-width: 650px;
    text-align: center;
    margin: 20px auto;  
}
  
  .formulario input, form textarea {  
    border: 0;
    outline: 0;
    padding: 0.8em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 16px;
    font-size:16px;
    color:#424242;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}
  
  .formulario input:focus, .formulario textarea:focus {     
    color:#3cafe7; 
    -moz-box-shadow: 0 0px 2px #3cafe7 ;
    -webkit-box-shadow: 0 0px 2px #3cafe7 ;
    box-shadow: 0 0px 2px #3cafe7 ;  
}
  
  .formulario .btn-submit {  
    color: #fff;
    background: #3cafe7 ;
    cursor: pointer;
    transition: 0.5s;  
}
  
  .formulario .btn-submit:hover {   
    background-color:#424242;
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);  
}
  
  .formulario textarea {  
    height: 174px;  
}
  
  .metade {  
    float: left;
    width: 48%;
    margin-bottom: 1em;  
}
  
  .right { 
    width:50%;
}
  
  .left  { 
    margin-right:2%; 
}
  
  @media (max-width: 768px) {    
    .metade { width:100%; float:none; margin-bottom:0; }  
  }

.form-aircraft {
    background-color: var(--bg-light-gray);
}

#comments-prices {
    padding: 20px 15px;
}

#comments-price h2 {
    text-align: center;
    font-size: 32px;
    color: var(--text-gray);
    margin-bottom: 40px;
    padding: 20px 15px;
}

.aircraft-card-description-prices {
    background-color: var(--color-secundary);
    border-radius: 0 12px 12px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aircraft-card-description-prices h3 {
    color: var(--color-white);
    font-size: 24px;
}

.aircraft-card-description-prices p {
    color: var(--color-primary);
    font-size: 14px;
}

.aircraft-card-description-prices h4 {
    color: var(--text-green);
}